* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img {
    left: auto;
    right: 90%;
}

.container {
    display: flex;
    gap: 10px;
    text-align: center;
}

body{
   text-align: center; 
}

.container-fluid {
    display: flex;
    flex-direction: column;;
}
