.container, .container-md, .container-lg, .container-fluid {
  margin: 0 auto;
  width: 100%;
}

.debug [class^="container"] {
  border: 2px dashed red;
  min-height: 500px;
}

/* small */
@media (min-width: 500px) {
  .container {
    max-width: 400px;
  }
}

/* medium */
@media (min-width: 800px) {
  .container, .container-md {
    max-width: 700px;
  }
}

/* large */
@media (min-width: 1000px) {
  .container, .container-md, .container-lg {
    max-width: 800px;
  }
}
